<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(3.167026, 101.558437);
		var myOptions = {
			zoom: 13,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(3.167026, 101.558437);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FF0000/');
		var marker = new google.maps.Marker({
		title: "START",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.168369, 101.564317);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/0000FF/');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.156594, 101.561634);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/008000/');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.149612, 101.543419);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/008000/');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.145382, 101.538567);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/008000/');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.143935, 101.536200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/008000/');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(3.167026, 101.558437),
new google.maps.LatLng(3.168369, 101.564317),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#0000FF",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(3.168369, 101.564317),
new google.maps.LatLng(3.156594, 101.561634),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#008000",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(3.156594, 101.561634),
new google.maps.LatLng(3.149612, 101.543419),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#008000",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(3.149612, 101.543419),
new google.maps.LatLng(3.145382, 101.538567),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#008000",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(3.145382, 101.538567),
new google.maps.LatLng(3.143935, 101.536200),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#008000",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
