<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(3.147447, 101.655015);
		var myOptions = {
			zoom: 7,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "START",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "END",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Senai, Johor",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.570010, 101.098412);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Ipoh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Senai, Johor",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.570010, 101.098412);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Ipoh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.293280, 100.265923);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Pulau Pinang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Senai, Johor",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.293280, 100.265923);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Pulau Pinang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.293280, 100.265923);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Pulau Pinang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.570010, 101.098412);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Ipoh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.570010, 101.098412);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Ipoh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Senai, Johor",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.293280, 100.265923);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Pulau Pinang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.149020, 101.539452);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan terbang Subang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(1.581800, 103.654083);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Senai, Johor",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.332200, 99.732200);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.333300, 99.733300);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Antarabangsa Langkawi",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.149020, 101.539452);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Lapangan terbang Subang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var coords = [
new google.maps.LatLng(6.332200, 99.732200),
new google.maps.LatLng(6.333300, 99.733300),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#0275d8",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#0275d8",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.333300, 99.733300),
new google.maps.LatLng(1.581800, 103.654083),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#5cb85c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#5cb85c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.332200, 99.732200),
new google.maps.LatLng(6.333300, 99.733300),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#f0ad4e",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#f0ad4e",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.570010, 101.098412),
new google.maps.LatLng(1.581800, 103.654083),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.333300, 99.733300),
new google.maps.LatLng(4.570010, 101.098412),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#292b2c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#292b2c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.293280, 100.265923),
new google.maps.LatLng(1.581800, 103.654083),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#0275d8",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#0275d8",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.332200, 99.732200),
new google.maps.LatLng(6.333300, 99.733300),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#5cb85c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#5cb85c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.333300, 99.733300),
new google.maps.LatLng(5.293280, 100.265923),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#f0ad4e",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#f0ad4e",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.293280, 100.265923),
new google.maps.LatLng(4.570010, 101.098412),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.570010, 101.098412),
new google.maps.LatLng(1.581800, 103.654083),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#292b2c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#292b2c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.332200, 99.732200),
new google.maps.LatLng(6.333300, 99.733300),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#0275d8",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#0275d8",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.333300, 99.733300),
new google.maps.LatLng(5.293280, 100.265923),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#5cb85c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#5cb85c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.149020, 101.539452),
new google.maps.LatLng(1.581800, 103.654083),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#f0ad4e",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#f0ad4e",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.332200, 99.732200),
new google.maps.LatLng(6.333300, 99.733300),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.333300, 99.733300),
new google.maps.LatLng(3.149020, 101.539452),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#292b2c",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#292b2c",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
