<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(3.147447, 101.655015);
		var myOptions = {
			zoom: 7,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(3.167026, 101.558437);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "START",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.411230, 100.335430);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "END",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.206356, 101.580128);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGAI BULOH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.318955, 101.575012);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "RAWANG",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.827134, 101.402164);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SLIM RIVER",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.597526, 101.073330);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGKAI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.167026, 101.558437);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.206356, 101.580128);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGAI BULOH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.365998, 100.447993);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BUKIT MERTAJAM",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.393343, 100.366201);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BUTTERWORTH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.375963, 101.614534);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SERENDAH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.468380, 101.637759);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BATANG KALI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.777932, 100.857424);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "PADANG RENGAS",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.852059, 100.731489);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "TAIPING",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.553215, 101.639591);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "KUALA KUBU BAHRU",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.685142, 101.518165);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "TANJONG MALIM",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.685142, 101.518165);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "TANJONG MALIM",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.745477, 101.450007);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BEHRANG",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.818757, 101.071261);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGAI SIPUT",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.776524, 100.932601);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "KUALA KANGSAR",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.776524, 100.932601);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "KUALA KANGSAR",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.777932, 100.857424);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "PADANG RENGAS",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.393343, 100.366201);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BUTTERWORTH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.411230, 100.335430);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "End point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.745477, 101.450007);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BEHRANG",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.827134, 101.402164);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SLIM RIVER",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.852059, 100.731489);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "TAIPING",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.028068, 100.527197);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BAGAN SERAI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.318955, 101.575012);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "RAWANG",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.375963, 101.614534);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SERENDAH",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.597526, 101.073330);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGKAI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(4.818757, 101.071261);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "SUNGAI SIPUT",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.130571, 100.486575);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "PARIT BUNTAR",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.365998, 100.447993);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BUKIT MERTAJAM",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.028068, 100.527197);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BAGAN SERAI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(5.130571, 100.486575);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "PARIT BUNTAR",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.468380, 101.637759);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "BATANG KALI",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.553215, 101.639591);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FFFFFF/');
		var marker = new google.maps.Marker({
		title: "KUALA KUBU BAHRU",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var coords = [
new google.maps.LatLng(3.206356, 101.580128),
new google.maps.LatLng(3.318955, 101.575012),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.827134, 101.402164),
new google.maps.LatLng(4.597526, 101.073330),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.167026, 101.558437),
new google.maps.LatLng(3.206356, 101.580128),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.365998, 100.447993),
new google.maps.LatLng(5.393343, 100.366201),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.375963, 101.614534),
new google.maps.LatLng(3.468380, 101.637759),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.777932, 100.857424),
new google.maps.LatLng(4.852059, 100.731489),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.553215, 101.639591),
new google.maps.LatLng(3.685142, 101.518165),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.685142, 101.518165),
new google.maps.LatLng(3.745477, 101.450007),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.818757, 101.071261),
new google.maps.LatLng(4.776524, 100.932601),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.776524, 100.932601),
new google.maps.LatLng(4.777932, 100.857424),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.393343, 100.366201),
new google.maps.LatLng(5.411230, 100.335430),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.745477, 101.450007),
new google.maps.LatLng(3.827134, 101.402164),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.852059, 100.731489),
new google.maps.LatLng(5.028068, 100.527197),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.318955, 101.575012),
new google.maps.LatLng(3.375963, 101.614534),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(4.597526, 101.073330),
new google.maps.LatLng(4.818757, 101.071261),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.130571, 100.486575),
new google.maps.LatLng(5.365998, 100.447993),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(5.028068, 100.527197),
new google.maps.LatLng(5.130571, 100.486575),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.468380, 101.637759),
new google.maps.LatLng(3.553215, 101.639591),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
