<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(3.167026, 101.558437);
		var myOptions = {
			zoom: 8,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(6.183395, 100.374874);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Anak Bukit",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.431952, 100.269002);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Keretapi Arau",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.206356, 101.580128);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Keretapi Sungai Buloh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.149020, 101.539452);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Lapangan terbang Subang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.149020, 101.539452);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Lapangan terbang Subang",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.192150, 100.395317);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Alor Setar",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.192150, 100.395317);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Lapangan Terbang Alor Setar",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.183395, 100.374874);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Anak Bukit",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.431952, 100.269002);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Keretapi Arau",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(6.441400, 100.198620);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FF0000/');
		var marker = new google.maps.Marker({
		title: "End point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.167026, 101.558437);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/FF0000/');
		var marker = new google.maps.Marker({
		title: "Start point",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(3.206356, 101.580128);
		var img = new google.maps.MarkerImage('http://www.googlemapsmarkers.com/v1/d9534f/');
		var marker = new google.maps.Marker({
		title: "Stesen Keretapi Sungai Buloh",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var coords = [
new google.maps.LatLng(6.183395, 100.374874),
new google.maps.LatLng(6.431952, 100.269002),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.206356, 101.580128),
new google.maps.LatLng(3.149020, 101.539452),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.149020, 101.539452),
new google.maps.LatLng(6.192150, 100.395317),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.192150, 100.395317),
new google.maps.LatLng(6.183395, 100.374874),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(6.431952, 100.269002),
new google.maps.LatLng(6.441400, 100.198620),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(3.167026, 101.558437),
new google.maps.LatLng(3.206356, 101.580128),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#d9534f",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#d9534f",
strokeOpacity: 1.000000,
strokeWeight: 2
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
